@media (min-width: 769px)  {
    /* Styles for tablets, desktops, etc. */

    #herosection_gavebilled {
        display: inherit;
    }

    .herosection-content-2 {
        text-align: left;
        align-self: self-start;
        justify-content: start;
        flex-direction: row;
    }

    .herosection-content-2 * {
        justify-content: flex-start;
        text-align: left;
        align-items: flex-start;
        align-self: flex-start;
    }

    .frontpage-i-phone .div-3 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: self-start;
        gap: 16px;
        position: relative;
        align-self: self-start;
      }

      .text-wrapper-2 {
        width: 1%;
        text-align: left;
        filter: brightness(25%);
      }

      .frontpage-i-phone .hero {
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        flex: auto;
      }


  }
  