:root {
  --sort-primr: rgba(25, 23, 22, 1);
  --hvid-neutral: rgba(252, 254, 253, 1);
  --neutral-beige: rgba(251, 245, 233, 1);
  --brun-sekundr: rgba(97, 33, 15, 1);
  --grn-primr: rgba(82, 116, 70, 1);
  --h1-mobile-font-family: "Cormorant Garamond", Helvetica;
  --h1-mobile-font-weight: 700;
  --h1-mobile-font-size: 75px;
  --h1-mobile-letter-spacing: -0.5px;
  --h1-mobile-line-height: 100%;
  --h1-mobile-font-style: italic;
  --body-font-family: "Jost", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 18px;
  --body-letter-spacing: 0.20000000298023224px;
  --body-line-height: 180%;
  --body-font-style: normal;
  --h4-font-family: "Palanquin Dark", Helvetica;
  --h4-font-weight: 400;
  --h4-font-size: 20px;
  --h4-letter-spacing: 0px;
  --h4-line-height: 140%;
  --h4-font-style: normal;
  --CTA-font-family: "Jost", Helvetica;
  --CTA-font-weight: 400;
  --CTA-font-size: 20px;
  --CTA-letter-spacing: 0.5px;
  --CTA-line-height: 100%;
  --CTA-font-style: normal;
  --h2-mobile-font-family: "Cormorant Garamond", Helvetica;
  --h2-mobile-font-weight: 700;
  --h2-mobile-font-size: 60px;
  --h2-mobile-letter-spacing: 0px;
  --h2-mobile-line-height: 130%;
  --h2-mobile-font-style: normal;
  --single-line-body-base-font-family: "Inter", Helvetica;
  --single-line-body-base-font-weight: 400;
  --single-line-body-base-font-size: 16px;
  --single-line-body-base-letter-spacing: 0px;
  --single-line-body-base-line-height: 100%;
  --single-line-body-base-font-style: normal;
  --h3-font-family: "Palanquin Dark", Helvetica;
  --h3-font-weight: 400;
  --h3-font-size: 36px;
  --h3-letter-spacing: 0px;
  --h3-line-height: 140%;
  --h3-font-style: normal;
  --highlight-body-font-family: "Jost", Helvetica;
  --highlight-body-font-weight: 600;
  --highlight-body-font-size: 18px;
  --highlight-body-letter-spacing: 0.20000000298023224px;
  --highlight-body-line-height: 150%;
  --highlight-body-font-style: normal;
  --btn-inner-shadow: 0px 2px 2px 0px rgba(25, 23, 22, 0.06);
  --btn-drop-shadow: 0px 0px 1px 0px rgba(25, 23, 22, 0.08), 0px 2px 2px 0px
    rgba(25, 23, 22, 0.06);
}
